https://download.pytorch.org/whl/cpu/torch-1.0.1-cp36-cp36m-linux_x86_64.whl
torchvision==0.2.1
opencv-contrib-python==4.1.0.25
opencv-python==4.2.0.32
regex==2019.4.14
requests==2.21.0
Flask==1.0.2
fuzzywuzzy==0.18.0
python-firebase==1.2
pytesseract==0.2.6
gunicorn==20.0.4