<!DOCTYPE html>
 <html>
 <head>
     <title>Guidelines</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <style>
      body {
       background: url('../static/guide_back.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
      }
     </style>

 </head>
 <body>
   <!-- Page Content -->
   <div class="container">
     <div class="card border-0 shadow my-5" style="text-align:left; margin-left:20%; margin-top:3%;">
       <div class="card-body p-5" style="color:white;">
         <h1 class="font-weight-light">Important details, please read carefully</h1>
         <h3 class="font-weight-light" style="margin-bottom:50px;">Be Careful & Verify details before submitting the details.</h3>
         <p class="lead">1. Start link: http://127.0.0.1:5000/index/1</p>
         <p class="lead">2. In case of any error, just refresh the page</p>
         <p class="lead">3. Click on "add item", only AFTER you've filled the details of previous item.</p>
         <p class="lead">4. In case you click on "add item" more than number of item, just refresh the page.</p>
         <p class="lead">5. Remember, refreshing the page will not affect anything, in case of mistakes, please refresh.</p>
         <p class="lead">6. In any case please DON'T edit the text boxes manually.</p>
         <p class="lead">7. If same item takes two or more lines, consider it as different items.</p>
         <p class="lead">8. Don't change the numbering of text files</p>
         <p class="lead">9. In case you submitted a form incorrectly, you can re do the task by changing the url with /index/bill_id</p>
         <p class="lead">10. You can close everything and restart later, in case you want a break. The system will start from the place where you left :)</p>
       </div>
     </div>
   </div>

 </body>
 </html>
