<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class=container style="width:70%; margin-top:50px;">
      <div class="card">
        <div class="card-header">
          <h5>Category Labels </h5>

          <div class="row" style="margin-left:50px;">

              <div class="column col-3 media">
                <img src="../static/images/green.png" class="mr-3">
                <div class="media-body">
                  <p class="mt-0">Grocery</p>
                </div>
              </div>

              <div class="column col-3 media" >
                <img src="../static/images/blue.png" class="mr-3">
                <div class="media-body">
                  <p class="mt-0">Food</p>
                </div>
              </div>

              <div class="column col-3 media">
                <img src="../static/images/yellow.png" class="mr-3">
                <div class="media-body">
                  <p class="mt-0">Clothing</p>
                </div>
              </div>

              <div class="column col-3 media">
                <img src="../static/images/red.png" class="mr-3">
                <div class="media-body">
                  <p class="mt-0">Misc</p>
                </div>
              </div>

          </div>

        </div>
      </div>
    </div>
    <div class=container style="width:70%; margin-top:50px;">
      <div class="card">
        <div class="card-header">
          <h2>Items Classified into Categories </h2>
        </div>
        <div class="card-body">
          <div class="alert alert-primary" role="alert">Item Name</div>
          <div class="alert alert-warning" role="alert">Item Name</div>
        </div>
      </div>
    </div>
  </body>


<script type="text/javascript">
function fill_details(){
  console.log("something");
}
</script>

</html>