<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./static/css/imgareaselect-default.css" />
    <script type="text/javascript" src="./static/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="./static/scripts/jquery.imgareaselect.pack.js"></script>
    <title>Expense Tracker - Crop</title>
    <link rel="shortcut icon" href="./static/images/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>    	#btn {
            background-color: #94cae3;
            /* padding: 10px 10px; */
            height: 40px;
            width: 120px;
            border: 0;
            border-radius: 3px;
            position: fixed;
          }
          h1 {
            text-align: center;
            font-family: 'Roboto', serif;
            margin: 40px;
            font-size: 40px;

          }

    </style>
  </head>

  <body>

    <nav class="navbar navbar-inverse" >
      <div class="container-fluid" style="position: fixed; top: 0; width: 100%; overflow: hidden;">
        <div class="navbar-header">
          <!-- <a class="navbar-brand" style="text-align:center;">Please verify your Invoice Details</a> -->
        </div></div>
        <!-- <a style="text-align:left; margin-top:9px; margin-left:10px; color:white; display:block; position:fixed; font-size:24px;" href="/">Home</a> -->
        <a style="text-align:left; margin-top:9px; margin-left:10px; display:block; position:fixed;" href='/'><img src="./static/images/logo.png" style="width:100px;"></a>
        <h3 style="text-align:center; margin-top:10px;color:white;">Crop Image</h3>
    </nav>

    <div align="center">
      <img id="image_crop" src="/static/uploads/{{image_name}}.png" alt= "uploaded image " height="650">
    </div>

    <form action="/crop_and_result" id="myForm" method = "POST">
      <input type="text" id="id" name="id" value="{{image_name}}"></input>
      <input type="text" id="x1" name="x1" value=""></input>
      <input type="text" id="y1" name="y1" value=""></input>
      <input type="text" id="x2" name="x2" value=""></input>
      <input type="text" id="y2" name="y2" value=""></input>
    </form>

  </body>

  <script type="text/javascript">
    $(document).ready(
      function () {
        var ias = $('#image_crop').imgAreaSelect({
            handles: true,
            onSelectEnd: confirmFunction,
            instance: true
        });

      function confirmFunction(img, selection) {
              // alert('width: ' + selection.x1 + '; height: ' + selection.y1);
              // alert('width: ' + selection.x2 + '; height: ' + selection.y2);
              var x1 = selection.x1;
              var x2 = selection.x2;
              var y1 = selection.y1;
              var y2 = selection.y2;
              var r =confirm("Confirm the current selection.");
              if (r == true) {
                // window.location.replace("/crop/{{image_name}}/"+x1+'/'+y1+'/'+x2+'/'+y2);
                document.getElementById("x1").value=x1;
                document.getElementById("y1").value=y1;
                document.getElementById("x2").value=x2;
                document.getElementById("y2").value=y2;
                document.getElementById("myForm").submit();
              } else {
                console.log("cancel");
                ias.cancelSelection();
              }
          }
        });
  </script>
</html>
