<!DOCTYPE html>
<html>
<head>
  <!-- Favicon -->
  <link rel="shortcut icon" href="./static/images/favicon.png">
  <!-- Typography CSS -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


  <!-- FIREBASE -->
  <script src="https://www.gstatic.com/firebasejs/6.6.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.6.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/6.6.0/firebase-database.js"></script>

  <script>
    var firebaseConfig = {
      apiKey: "AIzaSyAkGRtjIhDYjybhdFUHmNM2FnCFA9z9-Gg",
      authDomain: "expense-tracker-7e30c.firebaseapp.com",
      databaseURL: "https://expense-tracker-7e30c.firebaseio.com",
      projectId: "expense-tracker-7e30c",
      storageBucket: "",
      messagingSenderId: "886344330580",
      appId: "1:886344330580:web:9c7cef3a3b72ef01d8ecc1"
    };
    firebase.initializeApp(firebaseConfig);
  </script>
  <script src="./static/scripts/firebase.js"></script>
  <script src="./static/scripts/chart.js"></script>
  <!-- FIREBASE ends -->
</head>
<body>

<br><br><br>

<h3 style="text-align:center"> Category wise Expense <h3>

<div class="chart-container" style="margin: auto; height:40vh; width:80vw">

  <div id="Loader">
    <div class="preloader-wrapper big active" style="margin-left:48%; margin-top:15%;">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <p style="text-align:center;">Please wait, while we crunch your data!</p>
  </div>

  <canvas id="myChart" style="display:none"></canvas>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h3 style="text-align:center"> Monthly Expense Record<h3>

<div class="chart-container" style="margin: auto; height:40vh; width:80vw">
  <canvas id="myChart2"></canvas>
</div>
</body>
</html>


<script>

// var myJSON = localStorage.getItem("transaction_json")
// var data = JSON.parse(myJSON);
// arr = [0,0,0,0]
// for(transid in data){
// if(data[transid]["Category"]=="Stationery"){arr[0] = arr[0] + data[transid]["Amount"]}
// if(data[transid]["Category"]=="Medicals"){arr[1] = arr[1] + data[transid]["Amount"]}
// if(data[transid]["Category"]=="Food"){arr[2] = arr[2] + data[transid]["Amount"]}
// if(data[transid]["Category"]=="Misc"){arr[3] = arr[3] + data[transid]["Amount"]}
// }

// var arr = [2000, 540, 9500, 3500]


var ctx2 = document.getElementById('myChart2').getContext('2d');
var options = {
  type: 'line',
  data: {
    labels: ["Week 1", "Week 2", "Week 3", "Week 4", "Week 5", "Week 6"],
    datasets: [
	    {
	      label: 'Stationery',
	      data: [250, 50, 100, 60, 100, 300],
        backgroundColor: ['rgba(255, 99, 132, 0.2)'],
      	borderWidth: 1
    	},
			{
				label: 'Medicals',
				data: [70, 90, 120, 0, 25, 100],
        backgroundColor: ['rgba(54, 162, 235, 0.2)',],
				borderWidth: 1
			},
			{
				label: 'Food',
				data: [450, 1000, 590, 1200, 300, 200],
        backgroundColor: ['rgba(255, 206, 86, 0.2)'],
				borderWidth: 1
			},
			{
				label: 'Misc',
				data: [170, 230, 430, 89, 123, 60],
        backgroundColor: ['rgba(153, 102, 255, 0.2)'],
				borderWidth: 1
			}
		]
  },
  options: {
  	scales: {
    	yAxes: [{
        ticks: {
					reverse: false
        }
      }]
    }
  }
}
var myLineChart = new Chart(ctx2, options);
console.log("done");
</script>
